---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";
import { getCollection, getEntry } from "astro:content";
import Image from "astro/components/Image.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
const content = await getCollection("projects");
import ProjectCard from "../components/ProjectCard.astro";
import placeholder1 from "../placeholders/600x400.svg";
import placeholder2 from "../placeholders/400x400.svg";
import Gridzone from "../components/Gridzone.astro";
---

<Layout>
  <!-- {content.map((proj) => <ProjectCard post={proj} />)} -->

  <!-- <Image class="centred_image" src={placeholder1} alt="" /> -->
  <Gridzone />
  <div class="grid_container">
    <div class="grid_item">
      <Image src={placeholder1} alt="" />
      <h3>Grid Item</h3>
      lived out their lives. The aggregate of our joy and suffering, thousands of
      confident religions, ideologies, and economic doctrines, every hunter and forager,
      every hero and coward, every creator and destroyer of civilization, every king
      and peasant, every young couple in love, every mother and father, hopeful child,
      inve
    </div>
  </div>
  <div class="grid_item">
    <Image src={placeholder1} alt="" />
    <h3>Grid Item</h3>
    lived out their lives. The aggregate of our joy and suffering, thousands of confident
    religions, ideologies, and economic doctrines, every hunter and forager, every
    hero and coward, every creator and destroyer of civilization, every king and
    peasant, every young couple in love, every mother and father, hopeful child,
    inve
  </div>
</Layout>
<div class="grid_item">
  <Image src={placeholder1} alt="" />
  <h3>Grid Item</h3>
  lived out their lives. The aggregate of our joy and suffering, thousands of confident
  religions, ideologies, and economic doctrines, every hunter and forager, every
  hero and coward, every creator and destroyer of civilization, every king and peasant,
  every young couple in love, every mother and father, hopeful child, inve
</div>

<div class="text_zone">
  <h2>A Large Block of Text</h2>
  <p>
    Look again at that dot. That's here. That's home. That's us. On it everyone
    you love, everyone you know, everyone you ever heard of, every human being
    who ever was, lived out their lives. The aggregate of our joy and suffering,
    thousands of confident religions, ideologies, and economic doctrines, every
    hunter and forager, every hero and coward, every creator and destroyer of
    civilization, every king and peasant, every young couple in love, every
    mother and father, hopeful child, inventor and explorer, every teacher of
    morals, every corrupt politician, every "superstar," every "supreme leader,"
    every saint and sinner in the history of our species lived there--on a mote
    of dust suspended in a sunbeam.
  </p>
  <p>
    The Earth is a very small stage in a vast cosmic arena. Think of the rivers
    of blood spilled by all those generals and emperors so that, in glory and
    triumph, they could become the momentary masters of a fraction of a dot.
    Think of the endless cruelties visited by the inhabitants of one corner of
    this pixel on the scarcely distinguishable inhabitants of some other corner,
    how frequent their misunderstandings, how eager they are to kill one
    another, how fervent their hatreds.
  </p>
  <h3>A third level header</h3>
</div>

<Image src={placeholder2} alt="" />
<div class="text_zone">
  <h4>A fourth level header</h4>
</div>
<Image src={placeholder2} alt="" />

<div class="text_zone">
  <p>
    Our posturings, our imagined self-importance, the delusion that we have some
    privileged position in the Universe, are challenged by this point of pale
    light. Our planet is a lonely speck in the great enveloping cosmic dark. In
    our obscurity, in all this vastness, there is no hint that help will come
    from elsewhere to save us from ourselves.
  </p>
  <p>
    The Earth is the only world known so far to harbor life. There is nowhere
    else, at least in the near future, to which our species could migrate.
    Visit, yes. Settle, not yet. Like it or not, for the moment the Earth is
    where we make our stand. It has been said that astronomy is a humbling and
    character-building experience. There is perhaps no better demonstration of
    the folly of human conceits than this distant image of our tiny world. To
    me, it underscores our responsibility to deal more kindly with one another,
    and to preserve and cherish the pale blue dot, the only home we've ever
    known.
  </p>
</div>

<style>
  .grid_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20ch, 1]fr));
    /* justify-content: inherit; */
    grid-column-gap: 1vmin;
    grid-auto-flow: column;
    height: 30vh;
  }
  .grid_item {
    display: flex wrap;
    flex-direction: column;
    max-width: 30ch;
    width: 100%;
  }
</style>
